<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Store owner:</strong>
  <%= @store.store_owner %>
</p>

<p>
  <strong>Product:</strong>
  <%= @store.product %>
</p>

<%= link_to 'New Product', new_store_product_path(@store) %>
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>

